<main class="container mt-5">
    <div class="add_task_block text-center">
        <form action="/addTask" method="post">
            <div class="row">
                <div class="col-12 mb-3">
                    <input type="text" name="task_title" placeholder="add your task title" required />
                </div>
                <div class="col-12 mb-3">
                    <input type="text" name="task_content" placeholder="add detailed task" required />
                </div>
                <div class="col-12">
                    <input type="submit" class="form_btn" />
                </div>
            </div>
        </form>
    </div>
</main>
