body {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 100vh;
    font-family: cursive;
}

a {
    text-decoration: none;
}

h2 {
    color: #A683E3;
    font-size: 30px;
    font-weight: 700;
}

input:focus-visible {
    outline: none;
}

form {
    max-width: 700px;
    margin-inline: auto;
}

form input {
    display: block;
    height: 50px;
    width: 100%;
    line-height: 48px;
    padding-inline: 10px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

form .form_btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    background-color: #A683E3;
    color: #fff;
}

form .form_btn:hover {
    background-color: #fff;
    color: #A683E3;
    border-color: #A683E3;
}

.add_task_block h2 {
    text-align: center;
    line-height: 30px;
}

.show_task_block {
    text-align: left !important;
    max-width: 600px;
    margin-inline: auto;
    border-radius: 5px;
}

.tasks {
    min-height: 70px;
    background: white;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    padding-block: 20px;
    padding-inline: 20px 10px;
    margin-bottom: 4px;
    border-radius: 12px;
}

.tasks h2 {
    width: calc(100% - 40px);
    color: #504564;
}

.tasks p {
    width: calc(100% - 40px);
}

.tasks:last-child {
    border-bottom: 0;
}

p {
    margin: 0;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;

}

.tasks {
    position: relative;
}

.delete_btn {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
}


@media (max-width: 460px) {
    p {
        font-size: 18px;
    }

    .delete_btn {
        height: 24px;
    }

    .tasks h2 {
        font-size: 25px;
        width: calc(100% - 30px);
    }

}

.submit_button {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.submit_button:active,
.submit_button:hover {
    outline: 0;
}

.submit_button a {
    background-color: rgb(5, 6, 45);
    padding: 14px 18px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.submit_button:hover a {
    background: none;
    color: #cbcfd5;
}

@media (min-width: 768px) {
    .submit_button {
        font-size: 24px;
        min-width: 155px;
    }
}